<header>
  <div class="container">
    <span class="app_name">anonymizer</span>
    <nav>
      <a [routerLink]="'/home'"
         [className]="'active'">Home</a>
      <a [routerLink]="'/documentation'">Documentation</a>
      <a [routerLink]="'/test/none'">Test</a>
    </nav>
  </div>
</header>

<section class="page">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<footer>
  <div class="container">
    <p>Sleek Systems UG . <small>Last update: July 2020</small></p>
  </div>
</footer>
