<p>test works!</p>
<form (ngSubmit)="upload($event)">
  <div class="form-group">
    <input class="form-control form-control-file" type="file" name="file" [(ngModel)]="file">
  </div>

  <div class="form-group text-right">
    <button type="submit" class="btn-primary btn-sm">Upload</button>
  </div>

  <div ngbRadioGroup class="btn-group btn-group-toggle">
    <label ngbButtonLabel class="btn-primary btn-sm">
      <input ngbButton type="radio" value="NONE"> NONE
    </label>
    <label ngbButtonLabel class="btn-outline-secondary btn-sm">
      <input ngbButton type="radio" value="MEDIUM"> MEDIUM
    </label>
    <label ngbButtonLabel class="btn-outline-secondary btn-sm">
      <input ngbButton type="radio" value="HIGH"> HIGH
    </label>
  </div>
</form>
