<!--<div class="form-group">
  <label>Upload Excel Sheet:</label>
    <input type="file" (change)="onSelectedFile($event)" style="margin-top: 20px">
    <button class="btn btn-success" (click)="uploadFile()" style="margin-top: 20px">Upload</button>
    {{progress}}
</div>-->


<div class="row col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Upload Excel Sheet</div>
    <div class="panel-body">
      <form >
        <div class="form-group">
          <input type="file" (change)="onSelectedFile($event)" style="margin-top: 20px">
        </div>

        <button class="btn btn-success" (click)="uploadFile()" style="margin-top: 20px">Upload</button>
        {{progress}}
      </form>
    </div>
  </div>
</div>
