<p></p>
<!--quand on a pas les daten on creer son account-->
<div class="row col-md-6 col-md-offset-3" *ngIf="mode==0">
  <div class="panel panel-primary">
    <div class="panel-heading">Registration</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onRegister(f.value)">
        <div class="form-group">
          <label class="control-label">Username</label>
          <input class="form-control" type="text" [ngModel] name="username">
        </div>

        <div class="form-group">
          <label class="control-label">Password</label>
          <input class="form-control" type="password" [ngModel] name="password">
        </div>

        <div class="form-group">
          <label class="control-label">Confirm Password</label>
          <input class="form-control" type="password" [ngModel] name="repassword">
        </div>
        <button type="submit" class="btn btn-danger">Register</button>
      </form>
    </div>
  </div>
</div>

<!--Apres la creation de son account on montre les infos creer-->
<div class="container">
  <div class=" alert alert-danger" *ngIf="mode==0 && errorMessage">
    <strong>{{errorMessage}}</strong>
  </div>
  <div class="panel panel-success" *ngIf="mode==1">
    <div class="panel-heading">
      <strong>Registration Success</strong>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          Your ID:{{user.id}}
        </li>
        <li class="list-group-item">
          Your username:{{user.username}}
        </li>
        <li class="list-group-item">
          Your role:{{user.roles[0].role}}
        </li>
      </ul>
    </div>
  </div>

</div>


